CompileFlags:
  CompilationDatabase: build

  Remove:
    - -mlongcalls
    - -fno-malloc-dce
    - -fno-shrink-wrap
    - -fno-tree-switch-conversion
    - -fstrict-volatile-bitfields
    - -fzero-init-padding-bits=all

Diagnostics:
  Suppress:
    - unused-includes
