CompileFlags:
  Remove:
    - -fno-malloc-dce
    - -fno-shrink-wrap
    - -fno-tree-switch-conversion
    - -fstrict-volatile-bitfields
    - -fzero-init-padding-bits=all
    - -mfix-esp32-psram-cache-issue
    - -mlongcalls
Diagnostics:
  Suppress:
    - unused-includes
